*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

img{
    max-width: 100%;
}

/* ----- NAV ----- */



/* ----- MISC ----- */

.container{
    max-width: 900px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: calc((100% - 30px) / 3);
    padding: 5px;
}

/* ----- CARDS ----- */

.card{
    display: inline;
}

.description__brand{
    font-family: sans-serif;
    font-size: 14px;
    color: lightgrey;
}

.description__red{
    font-family: sans-serif;
    font-size: 14px;
    color: red;
}

.barrato{
    color: black;
}

/* ----- FOOTER ----- */

footer{
    background-color: black;
    color: white;
    height: 70px;
    margin-top: 30px;
}

/* ----- LISTE, ANCORE, TITOLI ----- */

ul, li, menu{
    padding-top: 5px;
    display: inline-block;
    list-style: none;
    font-family: sans-serif;
}

a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding-left: 5px;
}

h3{
    padding-top: 10px;
    font-family: sans-serif;
}