*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

img{
    max-width: 100%;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: calc((100% - 30px) / 3);
    padding: 5px;
}

/* ----- CARDS ----- */

p{
    font-family: sans-serif;
}

.card{
    border: 2px solid red;
}

.description__brand{
    font-size: 14px;
}

.description__fit{

}

.description__red{

}

.description__bar{

}