*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* ----- NAV ----- */
.icone-nav{
   margin-left: 5px;
}

.orange{
    background-color: #ff6900;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav__list{
    padding-left: 10px;
    padding-top: 20px;
    color: white;
}

.nav__logo{
    width: 140px;
    height: 40px;
    padding-top: 20px;
}

.nav__icons{
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 20px;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 50px;
}

/* ----- MISC ----- */

.container{
    max-width: 900px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.col-4{
    width: calc((100% - 30px) / 3);
    padding: 5px;
}

/* ----- CARDS ----- */

.card{
    position: relative;
}

.description__brand{
    font-family: sans-serif;
    font-size: 14px;
    color: lightgrey;
}

.description__red{
    font-family: sans-serif;
    font-size: 14px;
    color: red;
}

.barrato{
    color: black;
}

/* ----- FOOTER ----- */

footer{
    background-color: black;
    color: white;
    height: 70px;
    margin-top: 30px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.footer__social{
    color: white;
    padding-top: 10px;
}

.footer__info{
    display: inline-block;
}

.social__icons{
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 20px;
    padding-top: 10px;
}

.icone_social{
    padding-right: 5px;
}

/* ----- LISTE, ANCORE, TITOLI ----- */

ul, li, menu{
    padding-top: 5px;
    display: inline-block;
    list-style: none;
    font-family: sans-serif;
}

a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding-left: 5px;
}

h3{
    padding-top: 10px;
    font-family: sans-serif;
}

/* ----- SOPRA LE CARD ----- */

.card__heart{
    background-color: white;
    width: 28px;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 10;
}

.card__red{
    background-color: red;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 5;
    padding: 2px;
}

.card__green{
    background-color: green;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 45px;
    padding: 2px;
}

#left{
    left: 0;
}

.image__change{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.card:hover .image__change{
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.card__heart:hover{
    background-color: red;
    transition: all 200ms ease-in-out;
}



