*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

img{
    max-width: 100%;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: calc((100% - 30px) / 3);
    padding: 5px;
}

/* ----- CARDS ----- */

.card{
    display: inline;
}

.description__brand{
    font-family: sans-serif;
    font-size: 14px;
    color: lightgrey;
}

.description__red{
    font-family: sans-serif;
    font-size: 14px;
    color: red;
}

#description__bar{
    color: black;
}