*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    max-width: 100%;
    height: 70px;
    background-color: #cc5400;
}

.container{
    max-width: 1390px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

/* ----- HEADER ----- */

.main-header{
    padding: 15px 0;
}

ul, li, menu{
    display: inline-block;
}

ul{
    padding-left: 260px;
}

.header-menu{
    display: inline-block;
    margin: 0 auto;
}

.header-logo{
    max-width: 140px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}